.idea/
elements/openlayers-core/**/*.js
elements/openlayers-elements/**/ol-*.js
elements/swisstopo-elements/**/swisstopo-*.js
**/test/*.js
*.js.map
*.d.ts
node_modules/
yarn-error.log
analysis.json
dist/
lerna-debug.log
coverage/
